<h1>StaticPages#home</h1>

<!-- This code shows the latitude and longitude of the location of the device. It is not currently used to populate a search of restaurants, but eventually can be when the lat and long are able to be converted to zip code... -->
<p id="demo"></p>
<% if current_user %>
<script>
 var current_user_id = <%= current_user.id.to_s %>;
</script>
<% end %>
<!-- ...this ends that code -->



