<div class="container-fluid bg-1 text-left">
<div class="jumbotron">
    <h1 class="text-center">What are you doing tonight?</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A magnam pariatur, sapiente voluptate laboriosam accusantium totam in dolor mollitia quam facere libero eligendi non accusamus porro quod laborum, rem necessitatibus!</p> 
    <center>
    <a href="/users/sign_up" class="btn btn-default btn-lg">
     <span class="glyphicon glyphicon-glass text-center"></span> Get Started</a>
     </center>
  </div>
</div>

