<!-- jumbotron  -->

	<div class="container-fluid bg-1 text-left">
	<div class="jumbotron">
	    <h1 class="text-center">What are you doing tonight?</h1>
	    <!-- This code shows an example of sending the current user id to javascript as a variable-->
		<% if current_user %>
			<script>
 				var current_user_id = <%= current_user.id.to_s %>;
			</script>
		<% end %> 
		<!-- ...this ends that code -->
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A magnam pariatur, sapiente voluptate laboriosam accusantium totam in dolor mollitia quam facere libero eligendi non accusamus porro quod laborum, rem necessitatibus!</p> 
	    <center>
	    <a href="/users/sign_up" class="btn btn-default btn-lg">
	     <span class="glyphicon glyphicon-glass text-center"></span> Get Started</a>
	     <br>
	     <h1 class="glyphicon glyphicon-menu-down"></h1>
	     </center>
	  </div>
	</div>

<!-- content area 1 -->

	<div class="container-fluid bg-3 text-center fadeIn">    
	  <div class="row">
	    <div class="col-md-6">
	      <h1>Start Your Night..Now</h1>
	      <img src="assets/party1.jpg" class="img-responsive margin" style="width:100%" alt="party">
	    </div>
	    <div class="col-md-6 text-left"> 
	    <h1>Night Out</h1>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>

	     <h1>Night Out</h1>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
	    </div>

	  </div>
	</div>

<!-- content area 2 -->

	<div class="container-fluid bg-4 text-center">    
	  <div class="row">
	    <div class="col-md-4 fadeIn">
	    <p>Search for hotspots in your area</p>
		<p class="glyphicon glyphicon-search"></p>
	    </div>
	    <div class="col-md-4 fadeIn"> 
	     <p>Create your event.</p>
		<p class="glyphicon glyphicon-file"></p>
	    </div>

	   	<div class="col-md-4 fadeIn"> 
	     <p>Invite friends to join you</p>
		<p class="glyphicon glyphicon-user"></p>
	    </div>

	  </div>
	</div>


<!-- content 3 -->






