<!-- this first line of code is to send @array to JS so that the events close to the geolocation of the user device will be shown on the events page when going there from this view. bz-->
<%if current_user %> <script> array = <%= @array %> </script> <%end%>
<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>
