// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile {
	color: white;
	background-color: #fff;
	padding: 0;

}

.user-image {
	

}


.profile-head {


	h3 {
		font-size: 16px;
	}

	h1 {
		margin: 0;
		font-size: 26px;
		padding-top: 10px;
	}

	img {
		border: 1px solid black;
		border-radius: 8px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}


